<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Example bean definition -->
    <!-- Email service bean -->
    <bean id="emailService" class="com.example.springioc.EmailService">
        <property name="message" value="Hello from Email Service!"/>
    </bean>

    <!-- SMS service bean -->
    <bean id="smsService" class="com.example.springioc.SMSService">
        <property name="message" value="Hello from SMS Service!"/>
    </bean>

</beans>